/* Controle Body*/
:root {
  --light-blue: #569CE4;
  --blue: #0178D4;
  --dark-blue: #174275;
}
  * {
      margin: 0;
      padding: 0;
      font-family: 'Oswald', sans-serif;
      scroll-behavior: smooth;
  }
  html {
    height: 100%;
  }
  body {
      background-color: #DFE8FF;
      overflow-x: hidden;
  }

  
/* Header */
  header {
      display: flex;
      justify-content: space-around;
      background-color: #135B7D;
      height: 75px;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1;
  }
  
  .logo {
      display: flex;
      align-items: center;
  }
  .logo i {
      font-size: 40px;
      color: var(--blue);
  }
  .title {
      font-size: 25px;
      color: var(--blue);
      margin-left: 10px;
  }
  
  .navigation-bar {
    display: flex;
    align-items: center;
    border-top: 5px solid #DFE8FF;
  }
  .navigation-bar div {
    margin: 10px;
  }
  .navigation-bar a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    transition: all 0.5s linear;
  }
  .navigation-bar a:hover {
    color: #DFE8FF;
    font-size: 20px;
  }
  
/*Contato Animação*/  
  section#home {
    height: calc(90vh + 80px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 20px;
    width: 95%;
  }
  
  .home-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: justify;
  }
  
  .home-info button {
    border: none;
    width: 150px;
    padding: 10px;
    background-color: #8c32f1;
    color: white;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 5px;
  }
  
  .home-info button a{
    color: white;
  }
  
  .home-info button:hover{
    opacity: 1;
  }
  
  .home-img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Retirada do sublinhado */
  #chat {
    text-decoration: none;
  }
  
  .home-img img {
    width: 200px;
    height: 200px;
    animation: float 5s ease-in-out infinite;
    box-shadow: 0 10px 10px;
    border-radius: 50%;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }

/*Tela home*/
.home-agenda {
  margin-top: 75px;
  /*background: linear-gradient(rgba(0,0,0, .50),rgba(0,0,0, .50)100%), url(../assets/img/microsoft.png);*/

  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Section Card 1 */
  .content {
    position: absolute;
    height: 50%;
    text-align: center;
    color: white;
    width: 100%;
  }
  .quote blockquote {
    letter-spacing: 2px;
    font-weight: 200;
    width: 75%;
    margin: 0 auto;
    animation-duration: 3s;
  }
  .welcome {
    letter-spacing: .15em;
    font-size: 80px;
    animation-duration: 2s;
  }
  
  /* Section 2 */
  .history-agenda {
    overflow-x: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #DFE8FF;
  }
  
  .card {
    display: flex;
    justify-content: center;
    margin: 15vh auto;
    width: 75%;
  }
  .history-text {
    background-color: white;
    font-size: 20px;
    border-radius: 15px 0 0 15px;
    padding: 15px 45px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
      -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
      box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    
  }
  .card h1 {
    margin: 2vh 0;
    text-align: center;
    color: var(--blue);
  }
  .history-image {
    min-height: 500px;
    min-width: 500px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
      -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
      box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    border-radius: 0 15px 15px 0;
  }
  .history-image img {
    object-fit: cover;
    border-radius: 0 15px 15px 0;
    height: 100%;
    width: 100%;
  }

/* Section 3 */
  .agenda-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 10vh auto;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
      -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
      box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  }
  .agenda-content video {
    border-radius: 15px 15px 0 0; 
  }
  .about-video {
    text-align: center;
    background-color: white;
    padding: 25px;
    font-size: 25px;
    border-radius: 0 0 15px 15px;
    color: var(--dark-blue);
  }
  .about-video p {
    color: black;
    font-size: 18px;
  }
  
  .box{
    background-image: linear-gradient( #DFE8FF, #174275, #DFE8FF);
  }
  
  .box2{
    text-align: center;
    background-color: white;
    padding: 25px;
    font-size: 25px;
    color: var(--light-blue);
    margin: 10vh auto;
    width: 72.5%;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
      -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
      box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    border-radius: 20px 20px 240px 50%/30px;
  }
  .box2 video {
    border-radius: 10px;
  }
  .curiosidades-sobre {
    display: flex;
    flex-direction: column;
  }
  .curiosidade-sobre span {
    color: var(--dark-blue);
    font-size: 35px;
    margin: 15px 0;
  }
  .curiosidade-titulo {
    margin: 5px 0;
  }
  
/*API Whatsapp*/
  .whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 15px;
    background-color: #25d366;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
  }

  .fa-whatsapp {
    margin-top: 16px;
  }

  .fa-whatsapp:hover{
    color: #0056b3;
  }

  .parfo{
    text-align: center;
    color:black;
    font-style:initial;
    font-family: serif;
    font-size: 40px;
   
  }

/* Section Contato*/
  .field{
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid rgb(195, 123, 243);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #contact {
    height: calc(100vh + 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 100%;
    padding: 5px 20px;
  }
  
  input, textarea, button {
    box-shadow: 0 1px 2px rgb(140, 174, 218);
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;
    cursor: pointer;
  }

  button:hover{
    background-color:#569CE4; 
}

/*Rodapé Site*/
  footer {
    background-color: var(--dark-blue);
    padding: 32px;
  }
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  .footer-content h3 {
    font-size: 36px;
    font-weight: 400;
    color: var(--light-blue);
  }
  .footer-content li {
    color: white;
    line-height: 30px;
  }
  .pages a {
    height: 100%;
    text-decoration: none;
    margin: 0 5px;
  }
  .logo-github {
    height: 32px;
    width: 32px;
  }
  .logo-etec {
    height: 32px;
    width: 260;
  }
  .referencias a{
    text-decoration: none; 
    color: white;
    transition: all 0.5 linear;
  }
  .referencias a:hover {
    color: var(--light-blue);
  }